/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');
@import "tailwindcss";
.donegal-one-regular {
  font-family: "Donegal One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'GilroyRegular', sans-serif;
}
@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-myFont: "Gilroy", sans-serif;

  --color-myGray: #d9d9d9;
  --color-myBlue: #0666EB;
  --color-myGrayText: #5F5F5F;
  --color-myFooterBg: #333239;
}
.goog-te-banner-frame.skiptranslate,
.goog-te-combo,
body > .goog-te-gadget {
  display: none !important;
}